<table>
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Title</th>
    <th>Director</th>
    <th>Year</th>
    <th>Actions</th>
  </tr>
  <% @movies.each do |movie, director| %>
    <tr>
      <td><%= movie.id %></td>
      <td>
       <img src= <%= movie.image %> style="width:250px;">
      </td>
      <td><%= movie.title %></td>
      <td><%= director %></td>
      <td><%= movie.year %></td>
      <td>
      <a href="/movies/<%= movie.id %>">
        Show details
      </a>
      </td>
    </tr>
  <% end %>
</table>
